.container {
    background-color: white;
    width: 56vw;
    margin: 60px 0;
    border-radius: 48px;
    text-align: left;
    padding: 20px 140px;
    font-size: 16px;
    box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.1);
    position: relative;
}

.name {
    font-size: 24px;
    text-align: left;
    margin-bottom: 100px;
    font-weight: 500;
    background-color: #fcf1f8;
    color: #d900bc;
    border: 1px solid rgba(225, 91, 214, 0.20);
    width: fit-content;
    padding: 12px 48px;
    border-radius: 12px;
    position: absolute;
    left: -40px;
    top: -50px;
}

.title {
    font-size: 22px;
    font-weight: 500;
    margin: 80px 0 20px 0;
    text-align: center;
    color: var(--main-color);
}

.separator {
    border-top: 2px solid #e7e7e7;
    padding-top: 40px;
}

.description {
    margin: 20px 0 52px 0;
    color: #5d5d5d;
    text-align: center;
}

.elementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    gap: 40px;
}

.cardContainer {
    height: 64px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 4px 8px;
}

.yellow {
    background-color: #FFF2AB;
}

.blue {
    background-color: #38bdf6;
    color: white;
}