.elementContainer {
    display: flex;
    margin: 52px 0;
}

.titleElement {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    gap: 20px;
}

.cardContainer {
    height: 64px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 4px 8px;
}

.carContainer {
    height: 72px;
    width: 160px;
    padding: 12px 30px;
    text-align: center;
    background-color: #d7f3ff;
}

.carTitle {
    margin-top: 8px;
    font-weight: bold;
}

.carValue {
    font-size: 14px;
}

.yellow {
    background-color: #FFF2AB;
}

.purple {
    background-color: #f5e5ff;
}