.container {
    display: flex;
    gap: 12px;
}

.input {
    background-color: white;
    border: 1px solid #b0b0b0;
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    min-width: 32vw;
}