.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.cardContainer {
    height: 140px;
    width: 240px;
    padding: 12px 30px;
    background-color: #d7f3ff;
}

.cardTitle {
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
}

.subCardTitle {
    font-weight: bold;
    text-align: left;
    margin-top: 36px;
}

.detailValue {
    text-align: left;
}